<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CalcBinding" version="2.4.0" targetFramework="net461" />
  <package id="DynamicExpresso.Core" version="2.1.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.11" targetFramework="net461" />
</packages>